<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary hididen_btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="display: none;">
        Connect
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Token: <input type="text" id="token" autocomplete="off" value="No-name" /></label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="connect(event)">Connect</button>
                </div>
            </div>
        </div>
    </div>

    <h1>WebSocket Chat</h1>
    <form action="" onsubmit="sendMessage(event)">
        <label>Message: <input type="text" id="messageText" autocomplete="off" /></label>
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
        var ws = null;
        window.onload = function () {
            btn = document.getElementsByClassName('hididen_btn')[0]
            btn.click()

            fetch("http://" + location.host + "/get-messages")
                .then(response => response.json())
                .then(t => {
                    list = JSON.parse(t)
                    console.log(list)
                    list.forEach(data => {
                        var messages = document.getElementById('messages')
                        var message = document.createElement('li')
                        var content = document.createTextNode(data.token + ":" + data.message)
                        message.appendChild(content)
                        messages.appendChild(message)
                    })
                });
        }

        function connect(event) {
            var client_id = Date.now()
            var token = document.getElementById("token")
            ws = new WebSocket("ws://" + location.host + "/client/" + client_id + "/ws?token=" + token.value);
            ws.onmessage = function (event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                data = JSON.parse(event.data)
                var content = document.createTextNode(data.token + ":" + data.message)
                message.appendChild(content)
                messages.appendChild(message)
            };
            event.preventDefault()
        }

        function sendMessage(event) {
            var input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        }
    </script>
</body>

</html>